@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}



@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-500 {
  animation-delay: 0.5s;
}
.swiper-pagination {
  position: absolute;
  z-index: 889;
  bottom: 5px !important; /* تنزل البولتس تحت */
  text-align: center;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #e5e7eb; /* رمادي */
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 4px !important;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #f97316, #ea580c); /* برتقالي متدرج */
  transform: scale(1.3);
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
  }
  66% {
    background: #FF3D00;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
  }
}